html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom right, #0b51dd 0%, #001847 100%);
    margin: 0;
}

.wrapper {
    display: inline-block;
    opacity: .5;
    transition: all .3s;
}

.wrapper:hover, .wrapper.active {
    transform: scale(1.1);
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-around;
}

.stars {
    width: 150px;
}

nav {
    padding: 60px;
    margin-bottom: 10px;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

footer p {
    font-size: 10px;
    opacity: 0.5;
}

#balken {
    display: flex;
    margin:0 auto;
    height: 50px;
    width: 200px;
    background-color: black;
}

#innerBalken {
    align-self: flex-start;
    height: 50px;
    width: 100px;
    background-color: yellow;
    transition: all 2s;
}